<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row">
      <div class="col-md-8 footer-links">
        {% block footer_nav %}
          <ul class="list-unstyled">
            {% block footer_links %}
            {% endblock %}
          </ul>
          <ul class="list-unstyled">
            {% block footer_links_ckan %}
              {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <div class="col-md-4 attribution">
        {% block footer_attribution %}
        {% endblock %}
        {% block footer_lang %}
        {% endblock %}
      </div>
    </div>
    {% endblock %}
  </div>
</footer>
